{% extends "resolute/main/base.html" %} {% load static %} 

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>User Management</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#"><i class="fa fa-dashboard"></i> Home</a>
			</li>
			<li class="breadcrumb-item"><a href="#">Users</a></li>
			<li class="breadcrumb-item active">User Management</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- Basic Forms -->
		<div hidden id = "target_form" class="box">
			<div class="box-header with-border">
				<h6 class="box-subtitle">
					Add new user to Admin dashboard access
					<a href="#"> </a>
				</h6>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="row">
					<div class="col">
                    <form novalidate id="add_form" action="#"  method= "POST" enctype="multipart/form-data">
                      <span id = "csrf"></span>
					  {% csrf_token %}	
					  					
							<div class="form-group">
								<h5>First Name <span class="text-danger">*</span></h5>
								<div class="controls">
									<input
										type="text"
										name="first_name" 
										id="first_name"
										class="form-control"
										required
										data-validation-required-message="This field is required"
									/>
								</div>
								<!-- <div class="form-control-feedback">
									<small>Add <code>required</code> attribute to field for required validation.</small>
								</div> -->
							</div>
							<div class="form-group">
								<h5>Last Name<span class="text-danger">*</span></h5>
								<div class="controls">
									<input
										type="text"
										name="last_name" 
										id="last_name"
										class="form-control"
										required
										data-validation-required-message="This field is required"
									/>
								</div>
								<!-- <div class="form-control-feedback">
									<small>Add <code>required</code> attribute to field for required validation.</small>
								</div> -->
							</div>
							<div class="form-group">
								<h5>Email Field <span class="text-danger">*</span></h5>
								<div class="controls">
									<input
										type="email"
										name="email" 
										id="email"
										class="form-control"
										required
										data-validation-required-message="This field is required"
									/>
								</div>
							</div>
							<div class="form-group">
								<h5>Phone <span class="text-danger">*</span></h5>
								<div class="controls">
									<input
										type="phone"
										name="phone" 
										id="phone"
										class="form-control"
										required
										data-validation-required-message="This field is required"
									/>
								</div>
							</div>
							<div class="form-group">
								<h5>Agency <span class="text-danger">*</span></h5>
								<div class="controls">
									<input
										type="text"
										name="agency" 
										id="agency"
										class="form-control"
										required
										data-validation-required-message="This field is required"
									/>
								</div>
							</div>
							<div class="form-group">
								<h5>Address</h5>
								<div class="controls">
									<input
										type="text"
										name="address" 
										id="address"
										class="form-control"
									/>
								</div>
							</div>
							<div class="form-group">
								<h5>Password Input  <span class="text-danger">*</span></h5>
								<div class="controls">
									<input
										type="password"
										name="password" 
										id="password"
										class="form-control"
										required
										data-validation-required-message="This field is required"
									/>
								</div>
							</div>
							<div class="form-group">
								<h5>Repeat Password Input<span class="text-danger">*</span></h5>
								<div class="controls">
									<input
										type="password"
										name="password2" 
										id="password2"
										data-validation-match-match="password"
										class="form-control"
										required
									/>
								</div>
							</div>
							<div class="text-xs-right"><button type="submit" class="btn btn-info">Submit</button></div>
						</form>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
		
		<!-- REGISTERED USERS TABLE STARTS HERE -->
		<div class="row reg_users">			
			
			
			<!-- /.col -->				
			<div class="col-12 col-lg-12">
				
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Registered Users</h3>
              <h6 class="box-subtitle"></h6>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="table-responsive">
              <table id="example" class="table table-bordered table-hover table-display nowrap margin-top-10 w-p100 ">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>First name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Agency</th>
                </tr>
              </thead>
              <tbody>
                
                {% for person in users %}
                <tr>
                  <td>{{person.id}}</td>
                  <td><a href="#">{{person.first_name | title}}</a></td>
                  <td><a href="#">{{person.last_name | title}}</a></td>
                  <td>{{person.email}}</td>
                  <td>{{person.useraccount.phone}}</td>
                  <td>{{person.useraccount.agency}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
            </div>
          </div>
      </div>
			<!-- /.col -->
		</div>
		<!-- <a class="btn btn-app btn-info" href="#">
			<i class="fa fa-plus"></i> Add User
		  </a> -->

		  <div class="clearfix">
			  <button onclick="show_form(this)" class="btn btn-social btn-info mb-5">
				<i class="fa fa-plus"></i> Add New User
			  </button>
			  <button onclick="hide_form(this)" class="btn btn-social btn-info mb-5">
				<i class="fa fa-arrow-circle-down"></i> Hide Form
			  </button>
		  
		  </div>
		  
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->


{% endblock %}